.App {
  min-height: 100vh;
  display: flex;
}

.sidebar {
    max-width: 30%;
    padding: 15px;
    background-color: var(--clr-darker);
    display: flex;flex-direction: column;
}

.main-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #ddd;
    padding: 15px 10px;
}

.main-area-lvl-1 {
    display: flex;
}

input,
textarea {
    margin: 15px 0;
    font-family: inherit;
    width: 100%;
}

textarea {
    resize: vertical;
}

.textblock-container,
.sound-effect-container {
    padding: 25px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .7);
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    position: relative;
}

.textblock-container > *,
.sound-effect-container > * {
    font-size: 1.5rem;
}

.textarea {
    width: 100%;
}

.textblock-container {
    width: 100%;
}

.sound-effect-container {
    align-self: flex-start;
    min-width: 300px;
}
